<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2xpKy6KeHi_5PmCFZsnf0tshgGvo39eo</string>
	<key>GCM_SENDER_ID</key>
	<string>1022326004239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.caseapp</string>
	<key>PROJECT_ID</key>
	<string>caseapp-f7745</string>
	<key>STORAGE_BUCKET</key>
	<string>caseapp-f7745.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022326004239:ios:94f2ef55c214e7957e217a</string>
</dict>
</plist>